<div style="text-align:center">
	<h1>PROJECTS</h1>
</div>
<ul>
<% @projects.each do |prj| %>
	<li style="list-style: none; padding-right: 40px;">
		<span class="projects">
			<a href=<%= project_entries_path(prj)%>>
			<strong><%= prj.name %></strong> </a>
		</span>
		<br>
		<% if prj.description != nil %>
			<div class="description"><%= prj.description %></div>
		<% end %>
		<br>
	</li>
<% end %>
</ul>
<br>