// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.projects{
	font-style: none;
	font-size: 20px;
	color: white;
}
.description{
	background-color: white;
	border: solid;
	border-radius: 5px;
	padding: 5px;
}
.projects:hover{
	font-style: none;
	color: white;
}